body {
    background-repeat: repeat-x;
    background-color: #daffb0;
    background: -webkit-gradient(linear, 71% 45%, 10% 21%, from(#daffb0), to(#b1cf8f));
    width: 100%;
}

.big-texts {
    text-align: center;
    font-family: sans-serif;
    text-shadow:2px 2px 0px #000000;
    color: #488800;
    font-size: 25pt;
    font-family: 'Oregano', cursive;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

#title {
    text-align: center;
    font-family: sans-serif;
    margin-top: 200px;
    text-shadow:2px 2px 0px #000000;
    color: #488800;
    font-size: 25pt;
    font-family: 'Oregano', cursive;
    display: block;
    margin-bottom: 30px;
}

code {
    background-color: #dddddd;
    display: block;
    border: 1px black solid;
    overflow-x: scroll;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 13pt;
    padding: 30px 30px 30px 30px;
    font-family: "Nova Mono";
}