body {
    background-repeat: repeat-x;
    background-color: #daffb0;
    background: -webkit-gradient(linear, 71% 45%, 10% 21%, from(#daffb0), to(#b1cf8f));
    width: 100%;
}

.big-texts {
    text-align: center;
    font-family: sans-serif;
    text-shadow:2px 2px 0px #000000;
    color: #488800;
    font-size: 25pt;
    font-family: 'Oregano', cursive;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-family: sans-serif;
    text-shadow:1px 1px 0px #000000;
    color: #488800;
    font-size: 20pt;
    font-family: 'Oregano', cursive;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 60px;
}

#title {
    text-align: center;
    font-family: sans-serif;
    margin-top: 200px;
    text-shadow:2px 2px 0px #000000;
    color: #488800;
    font-size: 40pt;
    font-family: 'Oregano', cursive;
    display: block;
    margin-bottom: 30px;
}

code {
    background-color: #dddddd;
    display: block;
    border: 1px black solid;
    overflow-x: scroll;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 13pt;
    padding: 30px 30px 30px 30px;
    font-family: "Nova Mono";
}

.no-dot {
    list-style-type: none;
    list-style-image: none;
}

ul {
    list-style-image: url("bulletstyle.png");
}

a {
    text-decoration: none;
    text-shadow:1px 1px 0px #000000;
    color: #8f91cf;
    font-size: 16pt;
    font-family: 'Oregano', cursive;
}

#answers li a {
    color: #5684b7;
}

#questions li a {
    color: #b75656;
}

#screenshot {
    width: 1280px;
    height: 779px;
    display: inline;
}

#screenshot-div {
    margin-right: 30px;
    margin-left: 30px;
    display: block;
    overflow-x: scroll;
}
